################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vertical-slice/v17
/.vs


**bin
**obj